//$$$--------------
// SCSS VARIABLES
//$$$--------------

// Grid breakpoints
//
// Define the minimum and maximum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$breakpoints: (
    md: 670px,
    lg: 940px,
    xl: 1260px,
);

$container-max-width: 1140px;

// Z-Index Stack
//
// Control the order of layers in the application
$z-layers: (
    "modal": 999,
    "nav": 100,
    "content-overlay": 30,
);

// Colors
//
//
$brand-red: #EB1348;

$brand-bg: #FFF5F6;
$brand-fg: $brand-red;

$gray-600: #4b5563;
$gray-500: #64748B;
$gray-400: #94A3B8;
$gray-300: #cbd5e1;
$gray-200: #e2e8f0;
$gray-100: #f1f5f9;

$brand-text: darken($gray-600, 16%);

// Fluid sizing

  $step--3: clamp(0.76rem, calc(0.75rem + 0.02vw), 0.77rem);
  $step--2: clamp(0.91rem, calc(0.88rem + 0.13vw), 0.96rem);
  $step--1: clamp(1.09rem, calc(1.04rem + 0.29vw), 1.20rem);
  $step-0: clamp(1.31rem, calc(1.21rem + 0.52vw), 1.50rem);
  $step-1: clamp(1.58rem, calc(1.41rem + 0.83vw), 1.88rem);
  $step-2: clamp(1.89rem, calc(1.64rem + 1.25vw), 2.34rem);
  $step-3: clamp(2.27rem, calc(1.90rem + 1.83vw), 2.93rem);
  $step-4: clamp(2.72rem, calc(2.20rem + 2.59vw), 3.66rem);
  $step-5: clamp(3.27rem, calc(2.54rem + 3.62vw), 4.58rem);

  $space-3xs: clamp(0.31rem, calc(0.28rem + 0.17vw), 0.38rem);
  $space-2xs: clamp(0.69rem, calc(0.65rem + 0.17vw), 0.75rem);
  $space-xs: clamp(1.00rem, calc(0.93rem + 0.34vw), 1.13rem);
  $space-s: clamp(1.31rem, calc(1.21rem + 0.52vw), 1.50rem);
  $space-m: clamp(2.00rem, calc(1.86rem + 0.69vw), 2.25rem);
  $space-l: clamp(2.63rem, calc(2.42rem + 1.03vw), 3.00rem);
  $space-xl: clamp(3.94rem, calc(3.63rem + 1.55vw), 4.50rem);
  $space-2xl: clamp(5.25rem, calc(4.84rem + 2.07vw), 6.00rem);
  $space-3xl: clamp(7.88rem, calc(7.25rem + 3.10vw), 9.00rem);

  /* One-up pairs */
  $space-3xs-2xs: clamp(0.31rem, calc(0.07rem + 1.21vw), 0.75rem);
  $space-2xs-xs: clamp(0.69rem, calc(0.45rem + 1.21vw), 1.13rem);
  $space-xs-s: clamp(1.00rem, calc(0.72rem + 1.38vw), 1.50rem);
  $space-s-m: clamp(1.31rem, calc(0.80rem + 2.59vw), 2.25rem);
  $space-m-l: clamp(2.00rem, calc(1.45rem + 2.76vw), 3.00rem);
  $space-l-xl: clamp(2.63rem, calc(1.59rem + 5.17vw), 4.50rem);
  $space-xl-2xl: clamp(3.94rem, calc(2.80rem + 5.69vw), 6.00rem);
  $space-2xl-3xl: clamp(5.25rem, calc(3.18rem + 10.34vw), 9.00rem);

  /* Custom pairs */
  $space-s-l: clamp(1.31rem, calc(0.38rem + 4.66vw), 3.00rem);

// Typography
//
// Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif: 'Open Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-family-serif: 'Judson';
$font-family-monospace: Menlo, Monaco, Consolas, "Andale Mono", "Courier New", monospace;
$font-family-base: $font-family-sans-serif;

// Content
$font-title: $font-family-serif;
$font-date: $font-family-monospace;
$font-desc: $font-family-sans-serif;

$font-size-root: 100%;
$font-size-base: $step-0;
$line-height: 1.625;

// Animation
//
// Default easing curves, Transitions, etc

$animation-curve-fast-out-slow-in: cubic-bezier(0.4, 0, 0.2, 1);
$animation-curve-linear-out-slow-in: cubic-bezier(0, 0, 0.2, 1);
$animation-curve-fast-out-linear-in: cubic-bezier(0.4, 0, 1, 1);
$animation-curve-default: $animation-curve-fast-out-slow-in;

// Misc Shared
//
// common shared styles

$spacing-x: 2rem;
$spacing-y: 2rem;

$box-shadow: 0 2px 16px rgba(0, 0, 0, 0.15);
$box-shadow-elevated: 0 6px 12px 0 rgba(0, 0, 0, 0.1);

$border-radius-sm: 0.25rem;
$border-radius: 0.375rem;
$border-radius-lg: 0.5rem;

$trans-slow: all 300ms ease-in-out;
$trans-fast: all 180ms ease-in-out;


// $shadow-color: 354deg 27% 55%;

// $shadow-elevation-low:
//     0px 0.6px 0.6px hsl($shadow-color / 0.49),
//     0px 1px 1.1px -1.4px hsl($shadow-color / 0.44),
//     0px 2.5px 2.7px -2.9px hsl($shadow-color / 0.4);
// $shadow-elevation-medium:
//     0px 0.6px 0.6px hsl($shadow-color / 0.51),
//     0px 1.9px 2px -1px hsl($shadow-color / 0.47),
//     0px 5px 5.3px -1.9px hsl($shadow-color / 0.44),
//     -0.1px 12.6px 13.4px -2.9px hsl($shadow-color / 0.4);
// $shadow-elevation-high:
//     0px 0.6px 0.6px hsl($shadow-color / 0.54),
//     0px 3.9px 4.2px -0.5px hsl($shadow-color / 0.52),
//     -0.1px 7.9px 8.4px -1px hsl($shadow-color / 0.5),
//     -0.1px 14.5px 15.4px -1.4px hsl($shadow-color / 0.48),
//     -0.2px 25.6px 27.3px -1.9px hsl($shadow-color / 0.46),
//     -0.4px 43.1px 45.9px -2.4px hsl($shadow-color / 0.43),
//     -0.7px 69px 73.5px -2.9px hsl($shadow-color / 0.41);

:root {
  --shadow-color: 354deg 27% 62%;
  --shadow-elevation-low:
    0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
    0.4px 0.8px 1px -1.2px hsl(var(--shadow-color) / 0.34),
    1px 2px 2.5px -2.5px hsl(var(--shadow-color) / 0.34);
  --shadow-elevation-medium:
    0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.36),
    0.8px 1.6px 2px -0.8px hsl(var(--shadow-color) / 0.36),
    2.1px 4.1px 5.2px -1.7px hsl(var(--shadow-color) / 0.36),
    5px 10px 12.6px -2.5px hsl(var(--shadow-color) / 0.36);
  --shadow-elevation-high:
    0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
    1.5px 2.9px 3.7px -0.4px hsl(var(--shadow-color) / 0.34),
    2.7px 5.4px 6.8px -0.7px hsl(var(--shadow-color) / 0.34),
    4.5px 8.9px 11.2px -1.1px hsl(var(--shadow-color) / 0.34),
    7.1px 14.3px 18px -1.4px hsl(var(--shadow-color) / 0.34),
    11.2px 22.3px 28.1px -1.8px hsl(var(--shadow-color) / 0.34),
    17px 33.9px 42.7px -2.1px hsl(var(--shadow-color) / 0.34),
    25px 50px 62.9px -2.5px hsl(var(--shadow-color) / 0.34);
}

:root {
  --shadow-straight-color: 0deg 0% 50%;
  --shadow-straight-elevation-low:
    0px 0.5px 0.7px hsl(var(--shadow-straight-color) / 0.19),
    0px 1px 1.4px -0.5px hsl(var(--shadow-straight-color) / 0.37),
    0px 2.4px 3.2px -1px hsl(var(--shadow-straight-color) / 0.56);
  --shadow-straight-elevation-medium:
    0px 0.5px 0.7px hsl(var(--shadow-straight-color) / 0.2),
    0px 2.4px 3.2px -0.3px hsl(var(--shadow-straight-color) / 0.34),
    0px 5.4px 7.3px -0.7px hsl(var(--shadow-straight-color) / 0.49),
    0.1px 11.9px 16.1px -1px hsl(var(--shadow-straight-color) / 0.64);
  --shadow-straight-elevation-high:
    0px 0.5px 0.7px hsl(var(--shadow-straight-color) / 0.18),
    0px 5.7px 7.7px -0.1px hsl(var(--shadow-straight-color) / 0.25),
    0.1px 10.4px 14px -0.3px hsl(var(--shadow-straight-color) / 0.32),
    0.1px 15.8px 21.3px -0.4px hsl(var(--shadow-straight-color) / 0.39),
    0.2px 23.1px 31.2px -0.6px hsl(var(--shadow-straight-color) / 0.46),
    0.2px 33.5px 45.2px -0.7px hsl(var(--shadow-straight-color) / 0.52),
    0.3px 48.1px 64.9px -0.9px hsl(var(--shadow-straight-color) / 0.59),
    0.5px 68.2px 92.1px -1px hsl(var(--shadow-straight-color) / 0.66);
}