.footer {
    display: grid;
    place-content: center;
    font-family: $font-family-monospace;
    font-size: $step--3;
    padding: $space-xs $space-2xs;
    color: $brand-fg;
    position: relative;
    height: 300px;
    overflow-y: hidden;
    &__inner {
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
        padding: $space-s 0;
        margin-top: $space-xl;
    }

    &__github-link {
        text-decoration: underline dotted 2px;
        text-underline-offset: 3px;
        font-weight: 500;
        color: black;
        background-color: white;
        padding: $space-2xs;
        margin: 0 $space-2xs;
        border-radius: 12px;
        box-shadow: $box-shadow-elevated;
    }

    &__bottom {
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: center;
        padding: $space-xs;
        color: $brand-bg;
        font-size: $step--3;
        font-variant: small-caps;
        font-family: monospace;
        letter-spacing: 1px;
    }

}
