.home-landing {
    margin-top: $space-m;
    max-width: 45ch;
    margin: 0 auto;
    &__header {
        font-weight: 300;
        font-size: $step-3;
        color: $brand-fg;
        line-height: 1.1;
        span {
            font-weight: 500;
        }
    }
    &__subheading {
        font-weight: 300;
        font-size: $step-1;
        color: black;
        line-height: 1.1;
        opacity: 75%;
        margin: $space-xs 0;
        max-width: 45ch;

        strong {
            font-weight: 500;
        }
    }
}