.nav {
    &__link {
        display: grid;
        place-content: center;
        text-decoration: none;
        color: $gray-600;
        font-size: $step--2;
        border-radius: $border-radius-lg;
        padding: $space-3xs $space-2xs;
        transition: $trans-slow;
        box-shadow: 0 0 0 1px $gray-600;
        @include hover-focus {
            color: $brand-red;
            box-shadow: 0 0 0 1px $brand-red;
        }
    }

    &__item {
        &--active {
            & a {
                display: none;
            }
            // & a {
            //     color: lighten($gray-600, 8%);
            //     opacity: 45%;
            //     text-decoration: none;
            //     user-select: none;
            //     @include hover-focus {
            //         background-color: transparent;
            //         color: lighten($brand-red, 3%);
            //         cursor: not-allowed;
            //     }
            // }
        }
    }
}
