---
layout : base
permalink : /about/
eleventyNavigation:
  key: About
--- 

<div class="container about">
  <p class="about__bio">
    Kicking off my professional journey with the cloud. I wanted my own place to record what I learn. From my last job, I discovered that teaching others is a great way to improve your own understanding. So goal number one around here is to learn and talk about the cloud. My focus, in the beginning, will be on Amazon Web Services (AWS) since that is what I'm familiar with. But in time I'll incorporate stuff about Microsoft Azure and Google Cloud Platform (GCP).
  </p>
</div>