---
layout: base
---
<article class="post">
    <h1 class="post__title">{{ title }}</h1>
    <time class="post__date">{{ date | readableDate }}</time>
    <div class="post__content">
    {{ content | safe }}
    </div>
</article>