<div class="home-landing">
    <h1 class="home-landing__header">
        Welcome to <span>allowed.cloud</span>
    </h1>
    <p class="home-landing__subheading">
        I'm compiling a list of what's <strong>allowed in the cloud</strong>.
        Plus sharing thoughts on web development, security, Linux, and life.
    </p>
</div>